.nextWeekPlans {
  position: absolute;
  width: 408px;
  height: 426px;
  left: 564px;
  top: 385px;

  background: #ffffff;
  border-radius: 15px;
}

.nextWeekPlansCreate{
    position: absolute;
    right: 5%;
    top: 6%;
    cursor: pointer;
}

.nextWeekPlansData{
  margin-top: 60px;
  text-align: left;
  margin-left: -4.75%;
  
  
  
}
.nextWeekPlansData ul{
  list-style-type: none;
}


