* {
    box-sizing: border-box;
}

.goals{
    position: absolute;
    width: 826px;
    height: 630px;
    border-radius: 15px;            
    top: 35%;
    left: 19%; 
    background: white;
    overflow-x: scroll;
    
    border-radius: 15px;
    
    
}

.goalsOpened{
    position: absolute;
    width: 826px;
    height: 630px;
    border-radius: 15px;            
    top: 35%;
    left: 11%; 
    background: white;
    overflow-x: scroll;
    
}
.goalsMission{
    position: absolute;
    width: 826px;
    height: 60px;
    background: white;
    top: 22%;
    left: 11%;
    border-radius: 15px;
}
.goalsMissionOpened{
    position: absolute;
    width: 826px;
    height: 60px;
    background: white;
    top: 22%;
    left: 19%;
    border-radius: 15px;
}
.goalsMissionTitle{
    font-size: 21px;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 6%;
    float: left;
}
.goalsMissionDescription{
    margin-top: 17.5px;
    float: left;
    margin-left: 3%;
}
.goalsGoalsAchieved{
    position: absolute;
    border-radius: 15px;
    width: 262px;
    height: 216px;
    background: white;
    top: 22%;
    right: 7%; 
}
.goalsGoalsAchievedOpened{
    position: absolute;
    border-radius: 15px;
    width: 262px;
    height: 216px;
    background: white;
    top: 22%;
    right: 0; 
}
.goalsGoalsAchievedTitle{
    font-size: 21px;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 10%;
    float: left;
}

.goalsGoalsInFocus{
    position: absolute;
    border-radius: 15px;
    width: 262px;
    height: 185px;
    background: white;
    top: 106%;
    right: 7%; 
}
.goalsGoalsInFocusOpened{
    position: absolute;
    border-radius: 15px;
    width: 262px;
    height: 185px;
    background: white;
    top: 106%;
    right: 0%; 
}
.goalsGoalsInFocusTitle{
    font-size: 21px;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 8%;
    float: left;
}

.goalsSections{
    display: flex;    
    flex-direction: row;
    margin-left: 5%;
    margin-top: 3%;
    
    
    
    
}



.lol{
    
    display: flex;
    
    
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 14.5%;
    width: 120px;
    justify-content: space-between;
    

    
}






.goalsCategories{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 21px;
    line-height: 25px;    
    letter-spacing: .3px;
    white-space: nowrap;
    margin-top: 50px;
    
    
    
    
}

.goalsBalanceWheel{
    position: absolute;
    border-radius: 15px;
    width: 262px;
    height: 273px;
    background: white;
    top: 60%;
    right: 7%;            
}
.goalsBalanceWheelOpened{
    position: absolute;
    border-radius: 15px;
    width: 262px;
    height: 273px;
    background: white;
    top: 60%;
    right: 0;            
}
.goalsBalanceWheelTitle{
    font-size: 21px;
    font-weight: 600;
    letter-spacing: .3px;
    
    padding: 15px;
    margin-right: 20%;
}
.goalsCategories div{
    width: 262px;
    height: 34px;
    margin-top: 20px;
    margin-left: 25px;
    
    
}
.goalsCategoryTitle{
    font-weight: 600;
}

.goalsCategoryDataBrightness{
    text-align: justify;
    
    background:rgba(105, 228, 255, .08);
    border-top: 4.3px solid rgb(105, 228, 255);
    
}
.brightness{
    text-align: justify;
    
    background:rgba(105, 228, 255, .08);
    border-top: 4.3px solid rgb(105, 228, 255);
    
}
.career{
    text-align: justify;
    
    background:rgba(100, 189, 255, .08);
    border-top: 4.3px solid rgb(100, 189, 255);
}
.sport{
    text-align: justify;
    
    background:rgba(255, 168, 118, .08);
    border-top: 4.3px solid rgb(255, 168, 118);
}
.investment{
    text-align: justify;
    
    background:rgba(129, 255, 179, .08);
    border-top: 4.3px solid rgb(129, 255, 179);
}
.sweetheart{
    text-align: justify;
    
    
    background:rgba(255, 113, 216, .08);
    border-top: 4.3px solid rgb(255, 113, 216);
}
.growth{
    text-align: justify;
    
    background:rgba(251, 246, 129, .08);
    border-top: 4.3px solid rgb(251, 246, 129);
}
.development{
    background:rgba(251, 246, 129, .08);
    text-align: left;    
    border-radius: 5px;
    transform: translateY(-60%);
    
}
.environment{
    text-align: justify;
    
    background:rgba(254, 109, 109, .08);
    border-top: 4.3px solid rgb(254, 109, 109);
}
.love{
    text-align: justify;
    
    background:rgba(185, 126, 255, .08); 
    border-top: 4.3px solid rgb(185, 126, 255); 
}

.giveaway{
    background:rgba(255, 113, 216, .08);    
    text-align: left;
    border-radius: 5px;
    transform: translateY(-60%);
}
.light{
    background:rgba(105, 228, 255, .08);
    text-align: left;    
    border-radius: 5px;
    transform: translateY(-60%);
    
}
.attachment{
    background:rgba(185, 126, 255, .08); 
    text-align: left;    
    border-radius: 5px;
    transform: translateY(-60%);
}
.surroundings{
    background:rgba(254, 109, 109, .08);
    text-align: left;    
    border-radius: 5px;
    transform: translateY(-60%);
}
.corporate{
    background:rgba(129, 255, 179, .08);
    text-align: left;    
    border-radius: 5px;
    transform: translateY(-60%);
    
}

.money{
    background:rgba(100, 189, 255, .08);
    text-align: left;    
    border-radius: 5px;
    transform: translateY(-60%);
}
.wellness{
    background:rgba(255, 168, 118, .08);
    text-align: left;    
    border-radius: 5px;
    transform: translateY(-60%);
}
.benevolence{
    background:rgba(255, 113, 216, .08);    
    text-align: left;    
    border-radius: 5px;
    transform: translateY(-60%);
}

.goalsCategoryDateBrightness{
    background:rgba(105, 228, 255, .08);
    text-align: left;
    
    border-radius: 5px;
}
.goalsCategoryDataLove{
    text-align: justify;
    
    background:rgba(185, 126, 255, .08); 
    border-top: 4.3px solid rgb(185, 126, 255); 
    
}
.goalsCategoryDateLove{
    background:rgba(185, 126, 255, .08); 
    text-align: left;
    
    border-radius: 5px;
}
.goalsCategoryDataEnvironment{
    text-align: justify;
    
    background:rgba(254, 109, 109, .08);
    border-top: 4.3px solid rgb(254, 109, 109);
    
}
.goalsCategoryDateEnvironment{
    background:rgba(254, 109, 109, .08);
    text-align: left;
    
    border-radius: 5px;
}
.goalsCategoryDataInvestment{
    text-align: justify;
    
    background:rgba(129, 255, 179, .08);
    border-top: 4.3px solid rgb(129, 255, 179);
    
}
.goalsCategoryDateInvestment{
    background:rgba(129, 255, 179, .08);
    text-align: left;
    
    border-radius: 5px;
}
.goalsCategoryDataGrowth{
    text-align: justify;
    
    background:rgba(251, 246, 129, .08);
    border-top: 4.3px solid rgb(251, 246, 129);
    
}
.goalsCategoryDateGrowth{
    background:rgba(251, 246, 129, .08);
    text-align: left;
    
    border-radius: 5px;
}
.goalsCategoryDataCareer{
    text-align: justify;
    
    background:rgba(100, 189, 255, .08);
    border-top: 4.3px solid rgb(100, 189, 255);
    
}
.goalsCategoryDateCareer{
    background:rgba(100, 189, 255, .08);
    text-align: left;
    
    border-radius: 5px;
}
.goalsCategoryDataSport{
    text-align: justify;
    
    background:rgba(255, 168, 118, .08);
    border-top: 4.3px solid rgb(255, 168, 118);
    
}
.goalsCategoryDateSport{
    background:rgba(255, 168, 118, .08);
    text-align: left;
    
    border-radius: 5px;
}
.goalsCategoryDataCharity{
    text-align: justify;
    
    
    background:rgba(255, 113, 216, .08);
    border-top: 4.3px solid rgb(255, 113, 216);
    
}
.goalsCategoryDateCharity{
    background:rgba(255, 113, 216, .08);
    
    text-align: left;
    
    border-radius: 5px;
}
.goalsCategoryTime{
    margin-left: 12px;
    font-size: 16px;
}
.goalsCategoryImg{
    transform: translateY(20%);
}

div img{
    cursor: pointer;
}











