* {
    box-sizing: border-box;
}

.goals{
    position: absolute;
    width: 826px;
    height: 630px;
    border-radius: 15px;            
    top: 35%;
    left: 21%; 
    background: white;
    
    
}

.goalsOpened{
    position: absolute;
    width: 826px;
    height: 630px;
    border-radius: 15px;            
    top: 35%;
    left: 11%; 
    background: white;
    overflow-x: scroll;
    
}

.goalsSections{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 3%;
    
}
.goalsSections div{
    padding: 9px;
}
.goalsCategories{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 21px;
    line-height: 25px;    
    letter-spacing: .3px;
    white-space: nowrap;
    
    
    
    
}

.goalsCategories div + div{
    /* margin-left: 95px; */

}
.goalsCategories div{
    width: 262px;
    height: 34px;
    margin-top: 20px;
    margin-left: 25px;
    
    
}
.goalsCategoryTitle{
    font-weight: 600;
}

.goalsCategoryDataBrightness{
    text-align: justify;
    
    background:rgba(105, 228, 255, .08);
    border-top: 4.3px solid rgb(105, 228, 255);
    
}
.goalsCategoryDateBrightness{
    background:rgba(105, 228, 255, .08);
    text-align: left;
    
    border-radius: 5px;
}
.goalsCategoryTime{
    margin-left: 12px;
    font-size: 16px;
}
.goalsCategoryImg{
    transform: translateY(20%);
}

div img{
    cursor: pointer;
}

.brightness{
    background: rgba(105, 228, 255, .08);
    border-top: 4.3px solid rgb(105, 228, 255);
    
}









