.weekPlan {
  position: absolute;
  height: 426px;
  width: 408px;
  left: 136px;
  top: 99px;
  border-radius: 15px;
  background: white;
}

.weekPlanNameMoved {
  height: 25px;
  width: 237px;
  left: 500px;
  top: 122px;
}

.weekPlanData{
  
  
  margin-top: 10px;
  width: 75%;
  margin-left: 26px;

}
.checkplan{
  position: absolute;
  left: 25px;
  margin-top: 4px;
  
  
}

.weekPlanData ul{
  list-style-type: none;
  text-align: left;
  margin-left: -7%;
  
}
.weekPlanProgress{
  
  margin-top: 42px;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  margin-left: 6%;

}

.weekPlanProgressBar{
  margin-top: 8px;
  height: 15px;
  width: 75%;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}
.weekPlanProgressBarFiller{
  height: 100%;
  width: 100%;
  
  border-radius: inherit;
  background: #6CFFD5;
  transition: .7s;
  animation-name: glow;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  
}
.dataLine{
  position: relative;
}
.dataLine input{
  outline: none;
}
.deleteIcon {
  position: absolute;
  right: 0;
  margin-top: -2px;
  cursor: pointer;
  
}
.editIcon{
  position: absolute;
  right: 20px;
  margin-top: -2px;
  cursor: pointer;
}




@keyframes glow {
  0% {background: #6CFFD5;}
  16% {background: lightcyan;}
  33% {background: wheat;} 
  50% {background: orchid;}
  66% {background: magenta;}
  83% {background: purple;}
  100% {background: #6CFFD5;}
}


