.weekDiary {
  position: absolute;
  width: 350px;
  height: 425px;
  left: 992px;
  top: 99px;

  background: #ffffff;
  border-radius: 15px;
}
.weekDiaryName {
  position: absolute;
  width: 254px;
  
  
}
.weekDiaryCreate{
    position: absolute;
    top: 6%;
    right: 5%;
    cursor: pointer;
}
.weekDiaryData{
   margin-top: 60px;
   margin-left: -7%;
   text-align: left;
   
  
}
.weekDiaryData ul{
  list-style-type: none;
}

.noteName{
  font-weight: bold;
}
.diaryContent, .noteName{
  margin-top: 10px;
  
}

