.weekGoals{
    position: absolute;
width: 408px;
height: 266px;
left: 136px;
top: 545px;

background: #FFFFFF;
border-radius: 15px;
}
.weekGoalsName{
    position: absolute;
    width: 237px;
    height: 24.36px;
    left: 3%;
    
}

.weekGoalsCreate {
    position: absolute;
    right: 7.03%;
    top: 8.02%;
    cursor: pointer;
}
.weekGoalsData{
    background: lightblue;
    width: 75%;

    margin-top: 20px;
    margin-left: 30px;

}
.checkgoal{
    position: absolute;
    left: 27px;
    margin-top: 4px;
}
.weekGoalsData ul{
    list-style-type: none;
    text-align: left;
    margin-left: -8%;
}
.weekGoalsProgress{
    margin-top: 62px;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    margin-left: 6.5%;
  
  
}


