.nextWeekPlans {
  position: absolute;
  width: 408px;
  height: 426px;
  left: 564px;
  top: 385px;

  background: #ffffff;
  border-radius: 15px;
}
.nextWeekPlansName{
   position: absolute;
   left: 5%;

}
.nextWeekPlansCreate{
    position: absolute;
    right: 5%;
    top: 6%;
    cursor: pointer;
}
.nextMonthPlansData{
  list-style-type: none;
  text-align: justify;
  margin-top: 15%;
  margin-left: 5%;
}
