* {
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #25315b;
}
.App {
  text-align: center;
}
main {
  height: 925px;
  overflow: hidden;
  background: #e5e5e5;
}



