
* {
    box-sizing: border-box;
}

.calendarMonth{
    position: absolute;
    width: 80%;
    height: 75vh;
    border-radius: 5px;
    
    
    
    z-index: 0;
    top: 15%;
    left: 11%;
    
    
    
    
}
.calendarMonthWeek{
    display: flex;
    grid-gap: 1px;
    
    background-color: white;
    
}

.calendar .day{
    position: absolute;
    width: calc(100% / 7);
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
    text-align: right;
}

.day, .selected > *, .current, .weekEndDay{
    min-height: 115px;
    min-width: 155px;
    font-size: 18px;
    font-family: 'Lato';
    background: white;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-radius: 5px;            
    border-collapse: collapse;
    text-align: left;
    
}

.selected > *{

    background: black;
    

}
.current{

    background: orange;
    color: green;

}

.weekEndDay, .weekEndData{

    background: darkgray;
    border-radius: none;
    
    

}

.calendarMonthDayHeader{
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    width: 100%;
    top: -30px;
    
}
.calendarMonthDayHeader div:nth-child(1) {
    transform: translateX(20%);
}
.calendarMonthDayHeader div:nth-child(7) {
    transform: translateX(-15%);
}
.calendarMonthDayHeader div:nth-child(2) {
    transform: translateX(5%);
}
.calendarMonthDayHeader div:nth-child(3) {
    transform: translateX(10%);
}
.calendarMonthDayHeader div:nth-child(4) {
    transform: translateX(20%);
}
.calendarMonthDayHeader div:nth-child(5) {
    transform: translateX(15%);
}
.calendarMonthDayHeader div:nth-child(6) {
    transform: translateX(10%);
}

.calendarDate{
    font-weight: bold;
    font-size: 22px;
}

.today{
    color: yellow;
    background: green;
    overflow: hidden;
    border-radius: inherit;
    
    padding: 0 5px 5px 5px;
    
    
}
.cover{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(10, 10, 10, .1);
    border-radius: 0;
}
.back{
    overflow: hidden;
    
    font-size: 14px;
    width: 100%;
    
}
.data{
    width: 100%;
    
    
}


