.nextWeekGoals {
  position: absolute;
  width: 408px;
  height: 266px;
  left: 564px;
  top: 99px;

  background: #ffffff;
  border-radius: 15px;
}
.nextWeekGoalsName {
  position: absolute;
  left: 5%;
}
.nextWeekGoalsCreate{
    position: absolute;
    right: 5%;
    top: 9%;
    cursor: pointer;
}

.nextWeekGoalsData {
  margin-top: 60px;
  text-align: left;
  margin-left: 5%;
}
.nextWeekGoalsData li{
  list-style-type: none;
}
.nextWeekGoalsData ul{
  float: left;
}
